/* -LOADER- */

.loader {
    position: relative;
    display: block;
    margin: 0 auto;
    top: 300px;
    border: 10px solid #fff3da;
    border-top: 10px solid rgb(255, 200, 60);
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(350deg);
    }
}

.loader-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100vw;
    background: white;
    z-index: 15;
}

/* -GENERAL STYLES- */
html {
    height: 100%;
}

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    position: relative;
    min-height: 100%;
}

.page-header {
    height: 100px;
}

/* background image styles and animations */
#bg-outer {
    width: 100vw;
    /* background: #FFE8EF; */
}

#bg-inner {
    position: relative;
    width: 600px;
    height: 500px;
    margin: 0 auto;
}

#bg {
    position: relative;
    /* background: url("../images/general/bg-dawn.png"); */
    background-size: contain;
    background-repeat: no-repeat;
    width: 80%;
    height: 0;
    padding-top: 60%;
    margin: 0 auto;
    z-index: 3;
}

.dawn {
    animation: dawn 2s forwards;
}

.dawn-outer {
    animation: dawn-outer 2s forwards;
}

@keyframes dawn {
    to {
        background: url("../images/general/bg-dawn.png");
        background-size: contain;
        background-repeat: no-repeat;
    }
}

@keyframes dawn-outer {
    to {
        background: #FFE8EF;
    }
}

.day {
    animation: day 2s forwards;
}

.day-outer {
    animation: day-outer 2s forwards;
}

@keyframes day {
    to {
        background: url("../images/general/bg-day.png");
        background-size: contain;
        background-repeat: no-repeat;
    }
}

@keyframes day-outer {
    to {
        background: #95E4EC;
    }
}

.dusk {
    animation: dusk 2s forwards;
}

.dusk-outer {
    animation: dusk-outer 2s forwards;
}

@keyframes dusk {
    to {
        background: url("../images/general/bg-dusk.png");
        background-size: contain;
        background-repeat: no-repeat;
    }
}

@keyframes dusk-outer {
    to {
        background: #FFE76C;
    }
}

.dark {
    animation: dark 2s forwards;
}

.dark-outer {
    animation: dark-outer 2s forwards;
}

@keyframes dark {
    to {
        background: url("../images/general/bg-dark.png");
        background-size: contain;
        background-repeat: no-repeat;
        /* width: 80%;
        height: 0;
        padding-top: 60%; */
    }
}

@keyframes dark-outer {
    to {
        background: #08366D;
    }
}

.doom {
    animation: doom 2s forwards;
}

.doom-outer {
    animation: doom-outer 2s forwards;
}

@keyframes doom {
    to {
        background: url("../images/general/bg-doom.png");
        background-size: contain;
        background-repeat: no-repeat;
    }
}

@keyframes doom-outer {
    to {
        background: #BDA5A0;
    }
}

#sun {
    position: absolute;
    top: 175px;
    left: 380px;
    /* background: url("../images/general/bg-dawn-sun.png"); */
    background-size: contain;
    background-repeat: no-repeat;
    height: 25%;
    width: 200px;
    z-index: 1;
}

.dawn-sun {
    animation: dawn-sun 1s forwards;
}

@keyframes dawn-sun {
    to {
        position: absolute;
        top: 175px;
        left: 380px;
        background: url("../images/general/bg-dawn-sun.png");
        background-size: contain;
        background-repeat: no-repeat;
        height: 25%;
        width: 200px;
        z-index: 1;
    }
}

.day-sun {
    animation: day-sun 1s forwards;
}

#clouds {
    visibility: hidden;
    position: absolute;
    top: 70px;
    left: -50px;
    background: url("../images/general/bg-day-clouds.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 20%;
    width: 200px;
    z-index: 2;
}

.day-clouds {
    animation: day-clouds 0.5s 1s forwards;
}

.no-clouds {
    animation: no-clouds 1.5s forwards;
}

@keyframes day-sun {
    to {
        position: absolute;
        top: 30px;
        left: 100px;
        background: url("../images/general/bg-day-sun.png");
        background-size: contain;
        background-repeat: no-repeat;
        height: 25%;
        width: 200px;
        z-index: 1;
    }
}

@keyframes day-clouds {
    from {
        visibility: hidden;
        top: 70px;
        left: -50px;
        position: absolute;
        background: url("../images/general/bg-day-clouds.png");
        background-size: contain;
        background-repeat: no-repeat;
        height: 20%;
        width: 200px;
        z-index: 2;
    }
    to {
        visibility: visible;
        top: 70px;
        left: 75px;
        position: absolute;
        background: url("../images/general/bg-day-clouds.png");
        background-size: contain;
        background-repeat: no-repeat;
        height: 20%;
        width: 200px;
        z-index: 2;
    }
}

@keyframes no-clouds {
    from {
        visibility: visible;
        top: 70px;
        left: 75px;
        position: absolute;
        background: url("../images/general/bg-day-clouds.png");
        background-size: contain;
        background-repeat: no-repeat;
        height: 20%;
        width: 200px;
        z-index: 2;
    }
    to {
        opacity: 0;
        top: 70px;
        left: 70%;
        position: absolute;
        background: url("../images/general/bg-day-clouds.png");
        background-size: contain;
        background-repeat: no-repeat;
        height: 20%;
        width: 200px;
        z-index: 2;
    }
}

.dusk-sun {
    animation: dusk-sun 1s forwards;
}

@keyframes dusk-sun {
    to {
        position: absolute;
        top: 350px;
        left: 55px;
        background: url("../images/general/bg-dusk-sun.png");
        background-size: contain;
        background-repeat: no-repeat;
        height: 25%;
        width: 200px;
        z-index: 1;
    }
}

#moon {
    visibility: hidden;
    position: absolute;
    top: 450px;
    left: 55px;
    background: url("../images/general/bg-dark-moon.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 20%;
    width: 100px;
    z-index: 1;
}

.dark-moon {
    animation: dark-moon 1s forwards;
}

.dark-moon-exit {
    animation: dark-moon-exit 1s forwards;
}

@keyframes dark-moon {
    from {
        visibility: hidden;
        position: absolute;
        top: 450px;
        left: 55px;
        background: url("../images/general/bg-dark-moon.png");
        background-size: contain;
        background-repeat: no-repeat;
        height: 20%;
        width: 100px;
        z-index: 1;
    }
    to {
        visibility: visible;
        position: absolute;
        top: 65px;
        left: 55px;
        background: url("../images/general/bg-dark-moon.png");
        background-size: contain;
        background-repeat: no-repeat;
        height: 20%;
        width: 100px;
        z-index: 1;
    }
}

@keyframes dark-moon-exit {
    from {
        visibility: visible;
        position: absolute;
        top: 65px;
        left: 55px;
        background: url("../images/general/bg-dark-moon.png");
        background-size: contain;
        background-repeat: no-repeat;
        height: 20%;
        width: 100px;
        z-index: 1;
    }
    to {
        position: absolute;
        top: 450px;
        left: 55px;
        background: url("../images/general/bg-dark-moon.png");
        background-size: contain;
        background-repeat: no-repeat;
        height: 20%;
        width: 100px;
        z-index: 1;
    }
}

.doom-sun {
    animation: doom-sun 1s forwards;
}

@keyframes doom-sun {
    to {
        position: absolute;
        top: 30px;
        left: 100px;
        background: url("../images/general/bg-doom-sun.png");
        background-size: contain;
        background-repeat: no-repeat;
        height: 25%;
        width: 200px;
        z-index: 1;
    }
}

.doom-sun-exit {
    animation: doom-sun-exit 1s forwards;
}

@keyframes doom-sun-exit {
    to {
        position: absolute;
        top: 450px;
        left: 100px;
        background: url("../images/general/bg-doom-sun.png");
        background-size: contain;
        background-repeat: no-repeat;
        height: 25%;
        width: 200px;
        z-index: 1;
    }
}

.dawn-sun-exit {
    animation: dawn-sun-exit 1s forwards;
}

@keyframes dawn-sun-exit {
    to {
        position: absolute;
        top: 450px;
        left: 380px;
        background: url("../images/general/bg-dawn-sun.png");
        background-size: contain;
        background-repeat: no-repeat;
        height: 25%;
        width: 200px;
        z-index: 1;
    }
}

.day-sun-exit {
    animation: day-sun-exit 1s forwards;
}

@keyframes day-sun-exit {
    to {
        position: absolute;
        top: 450px;
        left: 100px;
        background: url("../images/general/bg-day-sun.png");
        background-size: contain;
        background-repeat: no-repeat;
        height: 25%;
        width: 200px;
        z-index: 1;
    }
}

.dusk-sun-exit {
    animation: dusk-sun-exit 1s forwards;
}

@keyframes dusk-sun-exit {
    to {
        position: absolute;
        top: 450px;
        left: 55px;
        background: url("../images/general/bg-dusk-sun.png");
        background-size: contain;
        background-repeat: no-repeat;
        height: 25%;
        width: 200px;
        z-index: 1;
    }
}

/* theme toggle bar & buttons */
#theme-div {
    position: relative;
    /* background: rgb(177, 75, 75); */
    width: 270px;
    opacity: 50%;
    border-radius: 5px;
    padding: 4px 2px;
    text-align: center;
    z-index: 10;
}

.theme-btn {
    font-size: 12px;
    width: 18%;
    padding: 5px;
    background: none;
    border: none;
    color: white;
}

.theme-btn:hover, .theme-btn:focus {
    background: white;
    outline: none;
    border-radius: 5px;
    color: rgb(0, 0, 0);
}

/* navbar */
.navbar {
    position: absolute;
    z-index: 12;
}


nav ul {
    font-family: 'Raleway', sans-serif;
    text-align: center;
}

.nav-link:hover {
    font-weight: bold;
}

/* container */
main {
    position: relative;
    background: white;
    z-index: 10;
}

main .container {
    padding: 2.5rem 0 8rem 0;
    margin: 0 auto;
}

/* page headings */
h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 60px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 30px;
}

/* sticky footer */
footer {
    font-family: 'Raleway', sans-serif;
    height: 5rem;
    width: 100%;
    position: absolute;
    bottom: 0;
    z-index: 11;
    background-color: #FFE8EF;
    text-align: center;
    padding-top: 2rem;
}

/* next and previous page buttons */
.arrow-btn {
    font-family: 'Raleway', sans-serif;
    border: none;
    color: rgb(9, 80, 128);
    background: none;
}

.arrow-btn:hover {
    font-weight: bold;
}

/* -ABOUT ME PAGE- */

#name-div {
    position: absolute;
    top: 220px;
    left: 200px;
    z-index: 11;
}

#about-me {
    margin-bottom: 2rem;
}

/* headings */
#about-me h1 {
    font-size: 45px;
}

#skills-heading, #design-heading {
    font-weight: 300;
    text-align: center;
}

#design-heading {
    margin-top: 80px;
}

/* images */
#me {
    display: block;
    margin: 20px auto;
    border-radius: 100%;
}

#me-computer, #responsiveness-img {
    float: right;
}

/* text */
#aboutme-text {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 75px;
}

/* skills section */
#about-me #skills {
    padding-top: 30px;
    padding-bottom: 0;
    text-align: left;
}

.inner-skill {
    padding: 20px;
    background-color: rgb(255, 242, 242);
    border-radius: 5px;
}

.inner-skill h5 {
    text-align: center;
}

.skill-lists {
    font-size: 15px;
    list-style-type: none;
    padding: 0;
}

/* ----https://www.w3schools.com/howto/howto_css_browser_window.asp---- */
/* The browser window */
.window {
    border: 3px solid #f1f1f1;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    overflow: auto;
  }

/* Container for columns and the top "toolbar" */
.window-row {
    padding: 5px;
    background: #f1f1f1;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    height: 25px;
}

/* Create three unequal columns that floats next to each other */
.column {
    float: left;
}

.left {
    width: 20%;
}

.right {
    width: 10%;
}

.middle {
    width: 68%;
    margin-right: 3px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Three dots */
.dot {
    margin-top: 4px;
    height: 7px;
    width: 7px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    vertical-align: top;
}

/* Style the input field */
#window-input {
    width: 100%;
    border-radius: 3px;
    border: none;
    background-color: white;
    height: 15px;
    color: #666;
    padding: 5px;
    vertical-align: top;
}

/* Three bars */
.bar {
    width: 12px;
    height: 2px;
    background-color: #aaa;
    margin: 2px 0;
    display: block;
}

  /* Page content */
.content {
    font-family: 'Raleway', sans-serif;
    padding: 10px;
}

/* ----------------------------------------------------- */

.content h5 {
    text-align: center;
}

#backend-window {
    background-color: rgb(75, 73, 73);
    border: 3px solid rgb(75, 73, 73);
}

#backend-window-row {
    background-color: rgb(75, 73, 73);
}

#backend-content {
    color: rgb(247, 245, 245);
    background-color: rgb(38, 36, 36);
}

/* design section */
#responsiveness-text {
    padding-top: 20px;
    padding-bottom: 30px;
    text-align: left;
}

/* next page arrow */
#portfolio-arrow {
    position: relative;
    text-align: center;
}

/* -PORTFOLIO PAGE- */

.portfolio {
    padding-bottom: 30px;
}

/* project headings */
.portfolio h3 {
    font-family: 'Raleway', sans-serif;
    padding-top: 30px;
    text-align: center;
}

/* images */

.project img {
    border: solid 1px #e6e2e2;
    /* box-shadow: -10px 10px  #fcefd6; */
}

/* text */
#portfolio-description {
    text-align: center;
}

.project p {
    padding-top: 50px;
    margin: 25px;
    margin-left: 0;
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}

.overlay-container {
    height: 200px;
    width: 300px;
    position: relative;
    margin: 25px;
}

.overlay, .overlay-img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.overlay {
    visibility: hidden;
    z-index: 10;
    padding: 10px;
    background-color: rgb(255, 255, 255, 0.8);
    text-align: center;
    font-weight: 500;
}

.overlay ul {
    list-style-type: none;
    padding-left: 10px;
}

.fa-github, .github-link {
    color: rgb(29, 103, 194);
}

/* previous and next page arrows */
#portfolio-arrows {
    padding-top: 1rem;
}

#contact-arrow {
    position: absolute;
    bottom: 110px;
    right: 50px;
    z-index: 11;
}

#aboutme-arrow {
    position: absolute;
    bottom: 110px;
    left: 50px;
    z-index: 11;
}

/* -CONTACT ME PAGE- */

#contact-me {
    margin-top: 30px;
}

/* page heading */
#contact-me h2 {
    font-size: 40px;
    font-family: 'Raleway', sans-serif;
    text-align: center;
}

/* form */
form {
    padding-top: 30px;
    padding-bottom: 80px;
    margin: 0 auto;
}

.asterix {
    color: rgb(177, 75, 75);
}

/* 'Get In Touch' general styles */
#contact-me h5 {
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
}

#contact-me h6 {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}

#contact-me ul {
    list-style-type: none;
    padding: 0;
}

/* 'Get In Touch' beside form (shows when screen size > 768px) */
.contact {
    font-family: 'Raleway', sans-serif;
    padding-top: 30px;
    padding-left: 100px;
}

/* 'Get In Touch' below form (shows when screen size < 768px) */
.hide {
    display: none;
    margin: 0 5px;
}

.hide .social-media, .hide .email, .hide .post {
    font-family: 'Raleway', sans-serif;
    width: 220px;
    height: 170px;
    padding: 15px;
    margin: 1px;
}

#hidden-resume {
    font-family: 'Raleway', sans-serif;
}

/* previous page btn */

#portfolio-arrow-back {
    position: absolute;
    bottom: 100px;
    left: 50px;
    z-index: 11;
}

/* ---------------------MEDIA QUERIES--------------------- */

/* small devices (phones, 500px and down) */
@media (max-width: 500px) {
    #bg, #bg-inner {
        height: 240px;
        width: 320px;
    }
}

/* medium devices (tablets, 768px and down) */
@media (min-width: 500px) and (max-width: 767px) { 
    #bg, #bg-inner {
        height: 300px;
        width: 400px;
    }

    #me-computer, #responsiveness-img {
        float: none;
        display: block;
        margin: 0 auto;
        margin-top: 20px;
    }

    #about-me #skills, #responsiveness-text {
        text-align: center;
    }

    .window {
        width: 80%;
        margin: 0 auto;
    }

    #backend-window {
        margin-top: 20px;
    }
}

@media (max-width: 767px) { 
    /* general styles */
    nav img {
        width: 200px;
        height: 50px;
    }

    h1 {
        font-size: 35px;
    }

    /* about me page */
    #me {
        width: 200px;
        height: 200px;
        margin: 0 auto;
        padding: 10px;
    }

    /* portfolio page */
    .project p {
        text-align: center;
        padding-top: 0;
        margin: 0;
        margin-top: 20px;
    } 
    
    .overlay-container {
        margin: 25px auto;
    }

    .float-right, .float-left {
        float: none!important;
    }

    .project img {
        float: none;
        display: block;
    }

    /* contact me page */
    #contact-me h2 {
        font-size: 40px;
        text-align: center;
    }

    form {
        padding-top: 10px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .contact {
        display: none;
    }

    .hide {
        display: inline-flex;
    }

    #hide-heading {
        padding-top: 20px;
    }

    #hidden-info {
        padding-bottom: 30px;
    }

    .hide h5 {
        font-size: 25px;
    }
}

/* large devices (desktops, between 768px and 992px) */
@media (min-width: 768px) and (max-width: 992px) { 
    #bg-outer {
        height: 450px;
    }

    #bg {
        width: 600px;
        height: 450px;
    }

    /* portfolio page */
    .portfolio h3 {
        font-size: 25px;
        padding-top: 20px;
        text-align: center;
    }
    
    .project p {
        margin: 0;
        padding-top: 25px;
        padding-bottom: 40px;
    }
}
