/* -GENERAL STYLES- */
html {
    height: 100%;
}

body {
    position: relative;
    min-height: 100%;
}

.page-header {
    height: 100px;
}

#bg-outer {
    width: 100vw;
    background: #FFE8EF;
}

#bg-inner {
    position: relative;
    width: 600px;
    height: 500px;
    margin: 0 auto;
}

#bg {
    position: relative;
    background: url("../images/general/bg-dawn.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 80%;
    height: 0;
    padding-top: 60%;
    margin: 0 auto;
    z-index: 3;
}

.dawn {
    animation: dawn 2s forwards;
}

.dawn-outer {
    animation: dawn-outer 2s forwards;
}

@keyframes dawn {
    to {
        background: url("../images/general/bg-dawn.png");
        background-size: contain;
        background-repeat: no-repeat;
        /* width: 80%;
        height: 0;
        padding-top: 60%; */
    }
}

@keyframes dawn-outer {
    to {
        background: #FFE8EF;
    }
}

.day {
    animation: day 2s forwards;
}

.day-outer {
    animation: day-outer 2s forwards;
}

@keyframes day {
    to {
        background: url("../images/general/bg-day.png");
        background-size: contain;
        background-repeat: no-repeat;
        /* width: 80%;
        height: 0;
        padding-top: 60%; */
    }
}

@keyframes day-outer {
    to {
        background: #95E4EC;
    }
}

.dusk {
    animation: dusk 2s forwards;
}

.dusk-outer {
    animation: dusk-outer 2s forwards;
}

@keyframes dusk {
    to {
        background: url("../images/general/bg-dusk.png");
        background-size: contain;
        background-repeat: no-repeat;
        /* width: 80%;
        height: 0;
        padding-top: 60%; */
    }
}

@keyframes dusk-outer {
    to {
        background: #FFE76C;
    }
}

.dark {
    animation: dark 2s forwards;
}

.dark-outer {
    animation: dark-outer 2s forwards;
}

@keyframes dark {
    to {
        background: url("../images/general/bg-dark.png");
        background-size: contain;
        background-repeat: no-repeat;
        /* width: 80%;
        height: 0;
        padding-top: 60%; */
    }
}

@keyframes dark-outer {
    to {
        background: #08366D;
    }
}

.doom {
    animation: doom 2s forwards;
}

.doom-outer {
    animation: doom-outer 2s forwards;
}

@keyframes doom {
    to {
        background: url("../images/general/bg-doom.png");
        background-size: contain;
        background-repeat: no-repeat;
        /* width: 80%;
        height: 0;
        padding-top: 60%; */
    }
}

@keyframes doom-outer {
    to {
        background: #BDA5A0;
    }
}

#sun {
    position: absolute;
    top: 175px;
    left: 380px;
    background: url("../images/general/bg-dawn-sun.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 25%;
    width: 200px;
    z-index: 1;
}

.dawn-sun {
    animation: dawn-sun 1s forwards;
}

@keyframes dawn-sun {
    to {
        position: absolute;
        top: 175px;
        left: 380px;
        background: url("../images/general/bg-dawn-sun.png");
        background-size: contain;
        background-repeat: no-repeat;
        height: 25%;
        width: 200px;
        z-index: 1;
    }
}

.day-sun {
    animation: day-sun 1s forwards;
}

#clouds {
    position: absolute;
    background: url("../images/general/bg-day-clouds.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 20%;
    width: 200px;
    z-index: 2;
}

.day-clouds {
    animation: day-clouds 0.5s 1s forwards;
}

.no-clouds {
    animation: no-clouds 1.5s forwards;
}

@keyframes day-sun {
    to {
        position: absolute;
        top: 30px;
        left: 100px;
        background: url("../images/general/bg-day-sun.png");
        background-size: contain;
        background-repeat: no-repeat;
        height: 25%;
        width: 200px;
        z-index: 1;
    }
}

@keyframes day-clouds {
    from {
        top: 70px;
        left: -50px;
        position: absolute;
        background: url("../images/general/bg-day-clouds.png");
        background-size: contain;
        background-repeat: no-repeat;
        height: 20%;
        width: 200px;
        z-index: 2;
    }
    to {
        top: 70px;
        left: 75px;
        position: absolute;
        background: url("../images/general/bg-day-clouds.png");
        background-size: contain;
        background-repeat: no-repeat;
        height: 20%;
        width: 200px;
        z-index: 2;
    }
}

@keyframes no-clouds {
    from {
        top: 70px;
        left: 75px;
        position: absolute;
        background: url("../images/general/bg-day-clouds.png");
        background-size: contain;
        background-repeat: no-repeat;
        height: 20%;
        width: 200px;
        z-index: 2;
    }
    to {
        opacity: 0;
        top: 70px;
        left: 70%;
        position: absolute;
        background: url("../images/general/bg-day-clouds.png");
        background-size: contain;
        background-repeat: no-repeat;
        height: 20%;
        width: 200px;
        z-index: 2;
    }
}

.dusk-sun {
    animation: dusk-sun 1s forwards;
}

@keyframes dusk-sun {
    to {
        position: absolute;
        top: 350px;
        left: 55px;
        background: url("../images/general/bg-dusk-sun.png");
        background-size: contain;
        background-repeat: no-repeat;
        height: 25%;
        width: 200px;
        z-index: 1;
    }
}

.dark-moon {
    animation: dark-moon 1s forwards;
}

.dark-moon-exit {
    animation: dark-moon-exit 1s forwards;
}

@keyframes dark-moon {
    from {
        position: absolute;
        top: 450px;
        left: 55px;
        background: url("../images/general/bg-dark-moon.png");
        background-size: contain;
        background-repeat: no-repeat;
        height: 20%;
        width: 100px;
        z-index: 1;
    }
    to {
        position: absolute;
        top: 65px;
        left: 55px;
        background: url("../images/general/bg-dark-moon.png");
        background-size: contain;
        background-repeat: no-repeat;
        height: 20%;
        width: 100px;
        z-index: 1;
    }
}

@keyframes dark-moon-exit {
    from {
        position: absolute;
        top: 65px;
        left: 55px;
        background: url("../images/general/bg-dark-moon.png");
        background-size: contain;
        background-repeat: no-repeat;
        height: 20%;
        width: 100px;
        z-index: 1;
    }
    to {
        position: absolute;
        top: 450px;
        left: 55px;
        background: url("../images/general/bg-dark-moon.png");
        background-size: contain;
        background-repeat: no-repeat;
        height: 20%;
        width: 100px;
        z-index: 1;
    }
}

.doom-sun {
    animation: doom-sun 1s forwards;
}

@keyframes doom-sun {
    to {
        position: absolute;
        top: 30px;
        left: 100px;
        background: url("../images/general/bg-doom-sun.png");
        background-size: contain;
        background-repeat: no-repeat;
        height: 25%;
        width: 200px;
        z-index: 1;
    }
}

.doom-sun-exit {
    animation: doom-sun-exit 1s forwards;
}

@keyframes doom-sun-exit {
    to {
        position: absolute;
        top: 450px;
        left: 100px;
        background: url("../images/general/bg-doom-sun.png");
        background-size: contain;
        background-repeat: no-repeat;
        height: 25%;
        width: 200px;
        z-index: 1;
    }
}

.dawn-sun-exit {
    animation: dawn-sun-exit 1s forwards;
}

@keyframes dawn-sun-exit {
    to {
        position: absolute;
        top: 450px;
        left: 380px;
        background: url("../images/general/bg-dawn-sun.png");
        background-size: contain;
        background-repeat: no-repeat;
        height: 25%;
        width: 200px;
        z-index: 1;
    }
}

.day-sun-exit {
    animation: day-sun-exit 1s forwards;
}

@keyframes day-sun-exit {
    to {
        position: absolute;
        top: 450px;
        left: 100px;
        background: url("../images/general/bg-day-sun.png");
        background-size: contain;
        background-repeat: no-repeat;
        height: 25%;
        width: 200px;
        z-index: 1;
    }
}

.dusk-sun-exit {
    animation: dusk-sun-exit 1s forwards;
}

@keyframes dusk-sun-exit {
    to {
        position: absolute;
        top: 450px;
        left: 55px;
        background: url("../images/general/bg-dusk-sun.png");
        background-size: contain;
        background-repeat: no-repeat;
        height: 25%;
        width: 200px;
        z-index: 1;
    }
}

#theme-div {
    position: relative;
    background: rgb(177, 75, 75);
    width: 270px;
    opacity: 50%;
    border-radius: 5px;
    padding: 4px 2px;
    text-align: center;
    z-index: 10;
}

.theme-btn {
    font-size: 12px;
    width: 18%;
    padding: 5px;
    background: none;
    border: none;
    color: white;
}

.theme-btn:hover, .theme-btn:focus {
    background: white;
    outline: none;
    border-radius: 5px;
    color: rgb(0, 0, 0);
}

/* navbar */
.navbar {
    position: absolute;
    z-index: 10;
}

.navbar-brand {
    padding-bottom: 20px;
}

nav ul {
    margin-right: 100px;
    font-family: 'Raleway', sans-serif;
}

/* container */
main {
    position: relative;
    background: white;
    z-index: 10;
}

main .container {
    padding: 2.5rem 0 10rem 0;
    margin: 0 auto;
}

/* page headings */
h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 60px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 30px;
}

/* sticky footer */
footer {
    font-family: 'Raleway', sans-serif;
    height: 5rem;
    width: 100%;
    position: absolute;
    bottom: 0;
    z-index: 11;
    background-color: #FFE8EF;
    text-align: center;
    padding-top: 2rem;
}

.footer span {
    color:rgb(177, 75, 75);
}
/* footer .container {
    width: auto;
    padding: 0 15px;
}

.footer {
    background-color: #FFE8EF;
}

footer .made-by {
    font-family: 'Raleway', sans-serif;
    padding-top: 5px;
} */

/* -ABOUT ME PAGE- */

/* image */
#about-me img {
    display: block;
    margin: 20px auto;
    border-radius: 100%;
}

/* text */
#about-me p {
    padding-top: 30px;
    padding-bottom: 85px;
}

/* -PORTFOLIO PAGE- */

/* project headings */
.portfolio h3 {
    font-family: 'Raleway', sans-serif;
    padding-top: 30px;
    padding-left: 25px;
}

#project-2 h3 {
    padding-left: 470px;
}

/* images */
.float-left img {
    float: left;
}

.float-right img {
    float: right;
}

.project img {
    margin: 25px;
}

/* text */
.project p {
    padding-top: 50px;
    margin: 25px;
}

/* -CONTACT ME PAGE- */

/* page heading */
#contact-me h2 {
    font-size: 40px;
    font-family: 'Raleway', sans-serif;
}

/* form */
form {
    padding-top: 30px;
    padding-bottom: 80px;
    margin: 0 auto;
}

.asterix {
    color: rgb(177, 75, 75);
}

/* 'Get In Touch' general styles */
#contact-me h5 {
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
}

#contact-me h6 {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}

#contact-me ul {
    list-style-type: none;
    padding: 0;
}

/* 'Get In Touch' beside form (shows when screen size > 768px) */
.contact {
    font-family: 'Raleway', sans-serif;
    padding-top: 30px;
    padding-left: 100px;
    padding-bottom: 210px;
}

/* 'Get In Touch' below form (shows when screen size < 768px) */
.hide {
    display: none;
    margin: 0 5px;
}

.hide .social-media, .hide .email, .hide .post {
    font-family: 'Raleway', sans-serif;
    width: 220px;
    height: 170px;
    padding: 15px;
    margin: 1px;
}

/* ---------------------MEDIA QUERIES--------------------- */

/* medium devices (tablets, 768px and down) */
@media (max-width: 768px) { 
    #bg {
        width: 80%;
        height: 0;
        padding-top: 60%;
    }

    #bg-inner {
        width: 80%;
        height: auto;
    }

    /* general styles */
    nav img {
        width: 200px;
        height: 50px;
    }

    h1 {
        font-size: 35px;
    }
/*     
    footer .made-by {
        font-size: 12px;
    } */

    /* about me page */
    #about-me img {
        width: 200px;
        height: 200px;
        margin: 0 auto;
        padding: 10px;
    }

    #about-me p {
        text-align: center;
        margin-bottom: 100px;
    }

    /* portfolio page */
    .project p {
        text-align: center;
    } 
    
    .project img {
        float: none;
        display: block;
        margin: 25px auto;
    }

    /* contact me page */
    #contact-me h2 {
        font-size: 40px;
        text-align: center;
    }

    form {
        padding-top: 10px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .contact {
        display: none;
    }

    .hide {
        display: inline-flex;
    }

    .hide h5 {
        font-size: 25px;
    }
}

@media (min-width: 768px) {
    #bg-outer {
        height: 450px;
    }

    #bg {
        width: 600px;
        height: 450px;
    }
}

/* large devices (desktops, 992px and down) */
@media (max-width: 992px) { 
    /* portfolio page */
    .portfolio h3 {
        font-size: 25px;
        padding-top: 20px;
        text-align: center;
        padding-left: 0;
    }

    #project-2 h3 {
        padding-left: 0;
    }

    .project p {
        margin: 0;
        padding-top: 25px;
        padding-bottom: 40px;
    }
}

/* extra-large devices (desktops, 992px and up) */
@media (min-width: 1200px) { 
    /* portfolio page */
    #project-2 h3 {
        padding-left: 620px;
    }
}