/* -GENERAL STYLES- */
body {
    background: pink;
}

/* navbar */
.navbar-brand {
    padding-bottom: 20px;
}

nav ul {
    margin-right: 100px;
    font-family: 'Raleway', sans-serif;
}

/* container */
main {
    background: white;
}

main .container {
    padding: 10px 0;
    margin: 0 auto;
}

/* page headings */
h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 60px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 30px;
}

/* sticky footer */
footer .container {
    width: auto;
    padding: 0 15px;
}

.footer {
    background-color: #f5f5f5;
}

footer .made-by {
    font-family: 'Raleway', sans-serif;
    padding-top: 5px;
}

/* -ABOUT ME PAGE- */

/* image */
#about-me img {
    display: block;
    margin: 20px auto;
    border-radius: 100%;
}

/* text */
#about-me p {
    padding-top: 30px;
    padding-bottom: 85px;
}

/* -PORTFOLIO PAGE- */

/* project headings */
.portfolio h3 {
    font-family: 'Raleway', sans-serif;
    padding-top: 30px;
    padding-left: 25px;
}

#project-2 h3 {
    padding-left: 470px;
}

/* images */
.float-left img {
    float: left;
}

.float-right img {
    float: right;
}

.project img {
    margin: 25px;
}

/* text */
.project p {
    padding-top: 50px;
    margin: 25px;
}

/* -CONTACT ME PAGE- */

/* page heading */
#contact-me h2 {
    font-size: 40px;
    font-family: 'Raleway', sans-serif;
}

/* form */
form {
    padding-top: 30px;
    padding-bottom: 80px;
    margin: 0 auto;
}

.asterix {
    color: rgb(177, 75, 75);
}

/* 'Get In Touch' general styles */
#contact-me h5 {
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
}

#contact-me h6 {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}

#contact-me ul {
    list-style-type: none;
    padding: 0;
}

/* 'Get In Touch' beside form (shows when screen size > 768px) */
.contact {
    font-family: 'Raleway', sans-serif;
    padding-top: 30px;
    padding-left: 100px;
    padding-bottom: 210px;
}

/* 'Get In Touch' below form (shows when screen size < 768px) */
.hide {
    display: none;
    margin: 0 5px;
}

.hide .social-media, .hide .email, .hide .post {
    font-family: 'Raleway', sans-serif;
    width: 220px;
    height: 170px;
    padding: 15px;
    margin: 1px;
}

/* ---------------------MEDIA QUERIES--------------------- */

/* medium devices (tablets, 768px and down) */
@media (max-width: 768px) { 
    /* general styles */
    nav img {
        width: 200px;
        height: 50px;
    }

    h1 {
        font-size: 35px;
    }
    
    footer .made-by {
        font-size: 12px;
    }

    /* about me page */
    #about-me img {
        width: 200px;
        height: 200px;
        margin: 0 auto;
        padding: 10px;
    }

    #about-me p {
        text-align: center;
        margin-bottom: 100px;
    }

    /* portfolio page */
    .project p {
        text-align: center;
    } 
    
    .project img {
        float: none;
        display: block;
        margin: 25px auto;
    }

    /* contact me page */
    #contact-me h2 {
        font-size: 40px;
        text-align: center;
    }

    form {
        padding-top: 10px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .contact {
        display: none;
    }

    .hide {
        display: inline-flex;
    }

    .hide h5 {
        font-size: 25px;
    }
}

/* large devices (desktops, 992px and down) */
@media (max-width: 992px) { 
    /* portfolio page */
    .portfolio h3 {
        font-size: 25px;
        padding-top: 20px;
        text-align: center;
        padding-left: 0;
    }

    #project-2 h3 {
        padding-left: 0;
    }

    .project p {
        margin: 0;
        padding-top: 25px;
        padding-bottom: 40px;
    }
}

/* extra-large devices (desktops, 992px and up) */
@media (min-width: 1200px) { 
    /* portfolio page */
    #project-2 h3 {
        padding-left: 620px;
    }
}